<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
  <title>Users System</title>
</head>
<body>
  <div class="container mt-5 w-75">
    <div th:replace="~{fragments/header :: header(list)}"></div>
    <div class="table-responsive mt-3">
      <table class="table table-striped table-hover">
        <thead>
          <tr>
            <th scope="col">Id</th>
            <th scope="col">Type</th>
            <th scope="col">Squire Feet</th>
            <th scope="col">Year of Property</th>
            <th scope="col">Number of Bedroom</th>
            <th scope="col">Number of Bathroom</th>
            <th scope="col">Balcony</th>
            <th scope="col">Pool</th>
            <th scope="col">Backyard</th>
            <th scope="col">Garage</th>
            <th scope="col">Update</th>
            <th scope="col">Delete</th>
          </tr>
        </thead>
        <tbody>
          <tr th:each="property : ${properties}">
            <th scope="row" th:text="${property.idProperties}"></th>
            <th th:text="${property.type}"></th>
            <th th:text="${property.type}"></th>
            <td th:text="${#dates.format(property.yearProperty, 'dd-MM-yyyy')}"></td>
            <th th:text="${property.bedroomNumbers}"></th>
            <th th:text="${property.bathroomNumbers}"></th>
            <th th:text="${property.balcone}"></th>
            <th th:text="${property.pool}"></th>
            <th th:text="${property.backyard}"></th>
            <th th:text="${property.garage}"></th>
            <td><a th:href="@{/update/} + ${property.idProperties}">Update</a></td>
            <td><a th:href="@{/delete/} + ${property.idProperties}">Delete</a></td>
          </tr>
        </tbody>
      </table>    
    </div>
  </div>
  <div th:replace="~{fragments/header :: scripts}"></div>
</body>
</html>